﻿<html>
    <head>
        <title>This is a test website</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Index</a></li>
            <li><a href="@Url.Action("Page1", "Home")">Page 1</a></li>
            <li><a href="@Url.Action("Page2", "Home")">Page 2</a></li>
            <li><a href="@Url.Action("Page3", "Home")">Page 3</a></li>
            <li><a href="@Url.Action("Page4", "Home")">Page 4</a></li>
        </ul>
        @RenderBody()
    </body>
</html>